body {
    display: flex;
    margin: 0;
    background-color: gainsboro;
}

.dashboard-icon {
    display: grid;
    grid-auto-flow: column;
    place-content: start;
    place-items: center;
    column-gap: 10px;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.8rem;
    
}

.nav {
    display: grid;
    width: 15vw;
    height: 100vh;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
}

.section1 ul {
    display: grid;
}

.section1 ul li a,
.section2 ul li a {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}
.section2 ul {
    display: grid;
    gap: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 2fr;
    width: 1fr;
    height: 24vh;
    background-color: white;
}

.profile > img {
    max-width: 60px;
}

.profileBottom > img {
    max-width: 110px;
    border-radius: 50%;
}

.search-bar {
    grid-area: 1 / 2 / 1 / 6; 
    display: flex;
    justify-content: space-around;
}

.profile {
    grid-area: 1 / 8 / 1 / 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.profileBottom {
    grid-area: 2 / 1 / 2 / 4;
    display: grid;
    align-items: center;
    grid-template-columns: 140px 210px;
    margin-left: 20px;
}

.actionBtns {
    grid-area: 2 / 8 / 2 / 10;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.search-bar > input[type="image"] {
    align-self: center;
    max-height: 32px;
}

.search-bar > input[type="text"] {
    align-self: center;
    width: 90%;
    max-height: 20px;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    margin-bottom: 2px;
}

.profile > input {
    max-height: 32px;
    align-self: center;
}

.profile > img {
    border-radius: 50%;
}

.profileBottom .greeting {
    display: flex;
    flex-direction: column;
    line-height: 0.3;

}

.greeting > div {
    font-size: 1.3rem;
    font-weight: bold;
}

.actionBtns button {
    font-weight: bold;
    margin: 20px;
    color: white;
    background-color: dodgerblue;
    max-height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border-style: none;
}