body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 110, 110);
}

.title {
    text-align: center;
    width: 75%;
    justify-self: center;
    align-self: center;
    border-bottom: 2px solid;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-container input[type='text'] {
    width: max-content;
}